.box {
  /* box-sizing: border-box; */
  width: 220px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.image {
  margin-left: 10px;
  width: 200px;
  height: 100px;
  background: #c4c4c4;
  margin-top: 8px;
}
.image:hover {
  cursor: pointer;
}
.name > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b7280;
  margin-left: 10px;
}
.price {
  margin-top: 10px;
  margin-left: 5px;
}
.price > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #111827;
}
.edit-button1 {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 102px;
  height: 26px;
  /* margin-left: 15px; */
  background-color: #5048e5;
  color: white;
  font-weight: bold;
}
.edit-button2 {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 102px;
  height: 26px;
  margin-left: 5px;
}
.buttom-part {
  margin-top: 5px;
  display: flex;
  margin-left: 5px;
}
.adding-extend {
  background: #5048e5;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 102px;
  height: 26px;
  display: flex;
}
.number {
  padding-top: 2px;
}
.number > span {
  color: white;

  font-size: 10px;
  top: -59px;
  left: -220px;
  font-weight: bold;
  padding-left: 19px;
  margin-top: 10px;
}
.minus {
  background-color: #5048e5;
  color: #cccccc;
  font-weight: bold;
  font-size: 20px;
  height: 26px;
  width: 25px;
  border: none;
  border-radius: 5px;
}
.add {
  background-color: #5048e5;
  border-radius: 5px;

  color: #cccccc;
  font-weight: bold;
  font-size: 20px;
  height: 26px;
  width: 25px;
  border: none;
}
