.header {
  width: 400px;
  height: 70px;
  background-color: #5048e5;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  font-weight: bold;
}
.close:hover {
  cursor: pointer;
}

.title-part {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 7%;
  margin-top: 4%;
}
.number-part {
  position: absolute;
  margin-left: 23%;
  margin-top: 5.5%;
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.cartinside-body {
  width: 400px;
  height: 350px;
}

.Product-list {
  overflow-y: scroll;
  width: 360px;
  height: 250px;
  margin-top: 25px;
  margin-left: 23px;
}
.cuppon > h5 {
  margin-top: 15px;
  margin-left: 23px;
  color: gray;
}
.cuppon-input {
  margin-left: 23px;
  margin-top: -15px;
}
.cuppon-input > input {
  width: 260px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
}
.cuppon-input > button {
  background: #5048e5;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  width: 80px;
  margin-left: 10px;
  height: 35px;
  cursor: pointer;
}
.checkout-cart {
  height: 162px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.checkout-left {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
}
/* .checkout-left h5 {
  margin-5top: 0px;
} */
.checkout-left span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  color: #111827;
  margin-top: 5px;
}
.before-checkout {
  display: flex;
}
.checkout-cart > button {
  background: #5048e5;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  width: 350px;
  height: 30px;
  position: absolute;
  top: 570px;
  margin-left: 23px;
  cursor: pointer;
}
.checkout-right {
  margin-left: 180px;
}
.checkout-right span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #111827;
  margin-top: 5px;
}
.special-discount {
  margin-left: -9px;
}
