.headerContainer {
  display: flex;
  height: 64px;
  /* width: 1440px; */
  width: 100%;
  /* border: 1px solid; */
  background-color: #182028;
}

.logo {
  display: flex;
  margin-left: 70px;
}

.logoPart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoPart:hover {
  cursor: pointer;
}

.logoPart > p {
  /* padding-bottom: 10px; */
  font-weight: 900;
  color: white;
  font-size: 23px;
}
.small > p {
  color: white;
  font-size: 10px;
  margin-top: 22px;
}

.small {
  margin-left: 5px;
}

.searchPart {
  display: flex;
  /* width: 450px; */
  width: 25%;

  height: 35px;
  background-color: white;
  margin-left: 150px;
  border-radius: 5px;
  margin-top: 15px;
}

.searchPart > input {
  background-color: white;
  outline: none;
  width: 430px;
  /* width: 25%; */
  height: 20px;
  margin-top: 6px;
  border: 1px;
  margin-left: 10px;
}

.search_icon {
  /* margin-right: 5px; */
  margin-left: 120px;
  margin-top: 5px;
}
.signin_icon {
  color: white;
  margin-top: 10px;
}

.signIn {
  margin-left: 330px;
  /* margin-left: 150%; */
  display: flex;
}
.signIn > p {
  color: white;
  font-size: small;
  margin-left: 5px;
  margin-top: 20px;
}
.signIn:hover {
  cursor: pointer;
  background-color: #101030;
}

.cart {
  display: flex;
  margin-left: 40px;
}

.cart > p {
  color: white;
  font-size: small;
  margin-left: 5px;
  margin-top: 20px;
}

.cart_icon {
  margin-top: 15px;
}
.cart:hover {
  cursor: pointer;
  background-color: #101030;
}

.right-header {
  display: flex;
  margin-left: 90px;
}

.message_icon {
  margin-top: 5px;
  margin-left: -13px;
}
.message-number {
  color: white;
  font-size: small;
  margin-top: 7px;
  margin-left: -16px;
}
@media only screen and (max-width: 390px) {
  .headerContainer {
    position: absolute;
    width: 395px;
    height: 121px;
    left: 0px;
    top: 0px;

    background: #111827;
  }
  .logoPart {
    display: none;
  }
  .small {
    position: absolute;
    width: 79px;
    height: 21px;
    left: 30px;
    top: 10px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 143px;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  .searchPart {
    /* Auto layout */
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 421px;
    margin-left: 10px;

    position: absolute;
    width: 326px;
    height: 46px;
    left: 24px;
    top: 41px;

    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  .search_icon {
    position: absolute;
    left: 50.94%;
    right: 10.94%;
    top: 10.94%;
    bottom: 10.94%;
  }
  .signin_icon {
    position: absolute;
    right: 10.62%;
    left: 65.62%;
    top: 1.25%;
    bottom: 50%;

    /* background: #ffffff; */
  }
  .cart_icon {
    position: absolute;
    right: 10.62%;
    left: 80.62%;
    top: 1.25%;
    bottom: 50%;
  }
  .cart > p {
    position: absolute;
    right: 10.62%;
    left: 85.62%;
    top: 1.25%;
    bottom: 50%;
  }
}
