/* .first-page {
    font-size: 50px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 15%;
  }
  .header-part {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  .header-part > h2 {
    margin-left: 90px;
  }
  
  .header-right {
    margin-top: 5px;
    display: flex;
    width: 400px;
    height: 5%;
  }
  
  .sort {
    width: 100px;
    height: 10px;
  }
  .sorting {
    height: 50px;
    margin-left: -192px;
  }
   */