/* .App {
  text-align: center;
} */

.header {
  width: 100px;
  background-color: black;
}

@media only screen and (max-width: 390px) {
  .footer {
    width: 490px;
  }
  .test {
    background-color: red;
    width: 390px;
    height: 844px;
  }
  .header {
    width: 390px;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
